<div>
  <h3>Filter galleries</h3>
  <%= form_tag("/galleries", method: "get") do %>
    <%= label_tag "by city" %>
    <%= select_tag "city", options_for_select(@cities), include_blank: true %> <br>
    <%= label_tag "or by style" %>
    <%= select_tag "style", options_for_select(@styles), include_blank: true %>
    <%= submit_tag "Filter" %>
  <% end %>
  <%= link_to  "Reset filter", root_path if params[:commit]%>
</div>


  <% @galleries.each do |gallery| %>
    <h3><%= link_to gallery.title, gallery_path(gallery) %> <%= "(#{gallery.city})" %></h3>
    <ul>
      <% gallery.artists.uniq.each do |artist| %>
        <li><%= link_to artist.name, artist_path(artist) %></li>
      <% end %>
    </ul>
  <% end %>
