<h1>New Gallery</h1>

<%= render partial: 'layouts/valid_errors', locals: {object: @gallery}%>

<%= form_for @gallery, html: {class: "js-new-gallery-form"} do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %> <br>
  <%= f.label :city %>
  <%= f.text_field :city %> <br>
  <%= f.label :price %>
  <%= f.number_field :price %> <br>

  <%= content_tag(:p, "Select your paintings, which you would like to present") if current_user.paintings.any? %>
  <%= f.collection_check_boxes :painting_ids, @paintings, :id, :title %> <br>

  <%= render partial: 'layouts/valid_errors', locals: {object: @gallery.paintings.build}%>

  <%= content_tag(:p, "Add a new painting") %>
  <%= f.fields_for @gallery.paintings.build do |p| %>
    <%= p.hidden_field :artist_id, :value => current_user.id %>
    <%= p.label :title %>
    <%= p.text_field :title %> <br>
    <%= p.label :style %>
    <%= p.text_field :style %> <br>
    <%= p.label :year %>
    <%= p.number_field :year %> <br>
  <% end %>

  <%= f.submit %>
<% end %>

<div class="new-gallery"></div>

<script id="new-gallery-template" type="text/x-handlebars-template">
  <h2 class="galleryTitle">{{title}}</h2>
  <h3 class="galleryCity">{{city}}</h3>
  <h3 class="galleryPrice">Price: ${{price}}</h3>
  <a class="js-now-at-gallery" data-id="{{id}}" href="#">At this gallery you can see...</a>
  <p>
  <ul class="now-at-gallery-ul"></ul>
</script>

<script id="now-at-gallery-template" type="text/x-handlebars-template">
      <li class="painting-title"><strong>{{title}}</strong> by {{artist.name}}</li>
</script>
