<h1>New Gallery</h1>

<%= render partial: 'layouts/valid_errors', locals: {object: @gallery}%>

<%= form_for @gallery do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %> <br>
  <%= f.label :city %>
  <%= f.text_field :city %> <br>
  <%= f.label :price %>
  <%= f.number_field :price %> <br>

  <%= f.submit %>
<% end %>
