<h2><%= @gallery.title %></h2>
<h3>Location: <%=  @gallery.city%></h3>
<h3>Price: <%=  "$#{@gallery.price}"%></h3>
<%= link_to 'At this gallery you can see...', new_gallery_painting_path(@gallery), :class=>"js-now-at-gallery", "data-id" => "#{@gallery.id}"if @gallery.artists.present?%>
<p>

<ul class="now-at-gallery-ul"></ul>

<%= link_to 'Add Painting to Gallery', new_gallery_painting_path(@gallery), { :class=>"button" } %>

<script id="now-at-gallery-template" type="text/x-handlebars-template">
      <li class="painting-title"><strong>{{title}}</strong> by {{artist.name}}</li>
</script>
