<p id="signed-in-as"><%= "Signed in as #{current_user.name}" if user_signed_in? %></p>

<nav>
  <ul>
    <li><%= link_to  "Home", root_path %></li>
    <li><%= link_to  "Artists", artists_path if user_signed_in?%></li>
    <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete if user_signed_in?%></li>
    <li><%= link_to "Log in", new_user_session_path if !user_signed_in?%></li>
    <li><%= link_to "Sign up", new_user_registration_path if !user_signed_in?%></li>
  </ul>
</nav>
